:root {
    /*box-sizing: border-box;*/
    --main-background: rgb(237, 199, 72);
    --main-box: whitesmoke;
    --main-text:black;
    --accent-color: rgb(113, 137, 223); 
}


body {
    font-family: IBM Plex Mono, monospace;
    font-weight: 400; 
    font-size: 20px; /* Sets the font size to 20px */
    line-height: 1.6; /* Sets the line-height to 1.6 */
    background-color: var(--main-background);
    color: var(--main-text); 
}


/*-------------Header-------------*/

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px; 
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    border: 1px solid var(--main-text);
    background-color: var(--main-box);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    margin-bottom: 20px;
    text-align: center;
}

.h1 {
    font-weight: 400; 
    font-size: 40px; 
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

/*-------------POKEDEX-------------*/

.pokedex_container{
    padding: 40px;
    margin: 0 auto;
    border: 1px solid var(--main-text);
    background-color: var(--main-box);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}

.pokemon-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-inline-start: 0px;
    grid-gap: 20px;
    list-style: none;
    text-align: center;
}

.list-item{
    list-style: none;
}

.pokemon-name-button{
    /* overwrites browser defaults and resets the border */
    list-style: none;
    border: none;
    display: inline-block;
    font-family: inherit; /* takes the font from the outer container */
    background-color: var(--accent-color); 
    color: var(--main-text); 
    border-radius: 15px;
    border: 1px solid black;
    /*adds spacing to the button and button shadow*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    padding: 7px;
    margin: 2px;
    font-weight: 400; 
    font-size: 16px; 
    width: 180px; /* Sets the width to 180px */
    text-align: center;
    text-transform: uppercase;
}


.pokemon-name-button:hover {
    cursor: pointer;
    background-color: var(--main-background);
    color: var(--main-text);
    opacity: 0.8;
    transition: 0.5s;
  }


/*-------------MODAL-------------*/


#modal-container {
    display: none;
}
  
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}
  
.modal {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    border: 1px solid var(--main-text);
    width: 100%;
    max-width: 900px;
    min-width: 270px;
    width: 400px; 
    height: 500px;
    background-color: var(--main-box);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 

    /*for close button*/
    text-align: center; 
}
  
.modal-close {
    border: none;
    display: inline-block;
    font-family: inherit; /* takes the font from the outer container */
    background-color: var(--accent-color); 
    color: var(--main-text); 
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

.modal-close:hover {
    cursor: pointer;
    background-color: var(--main-background);
    color: var(--main-text);
    opacity: 0.8;
    margin-bottom: 10px;
}

.modal-title {
    font-family: inherit; /* takes the font from the outer container */
    color: var(--main-text); 
    font-weight: 400; 
    font-size: 30px; 
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

.pokemon-height{
    font-family: inherit; /* takes the font from the outer container */
    color: var(--main-text); 
    text-align: center;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 1.6;
    margin: 0;
}

.pokemon-types{
    font-family: inherit; /* takes the font from the outer container */
    color: var(--main-text); 
    text-align: center;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 1.6;
    margin: 0;
    margin-bottom: 10px;
}

.pokemon-img {
    width:70%;
    height: auto;
    display: block;
    margin: 0 auto;
}
  



@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
